@import url("https://fonts.googleapis.com/css?family=Abhaya+Libre");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url(../../../node_modules/slick-carousel/slick/slick.css);
@import url(../../../node_modules/slick-carousel/slick/slick-theme.css);
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.product .product__header__container .product__price, .product .product__selection__container .product__selection .product__color .product__color__title, .product .product__selection__container .product__stock .product__stock__title, .product .product__selection__container .product__size .product__size__select .product__size__select__title, .product .product__selection__container .product__size .product__size__select select, .product .product__selection__container .product__add .product__add_button, .product .product__detail .product__detail__title {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase; }

.product .product__detail p, .product .product__detail ul {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.77;
  letter-spacing: normal; }

.product {
  display: flex;
  flex-direction: column; }
  @media screen and (min-width: 769px) {
    .product {
      flex-flow: row wrap;
      padding: 68px 0px 79px 157px; } }
  .product .product__header__container {
    order: 0; }
    @media screen and (min-width: 769px) {
      .product .product__header__container {
        margin: 22px 0px 25px; }
        .product .product__header__container.desktop {
          display: none; } }
    @media screen and (max-width: 769px) {
      .product .product__header__container.mobile {
        display: none; } }
    .product .product__header__container .product__title {
      height: 24px;
      font-family: "Abhaya Libre", serif;
      font-size: 22px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      line-height: 1.09;
      text-align: center;
      color: #222222;
      padding: 20px 20px 0;
      margin: 0px;
      align-self: center; }
    .product .product__header__container .product__price {
      height: 20px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
      text-align: center;
      color: #666666;
      margin: 0px;
      align-self: center; }
  .product .product__image {
    order: 1;
    margin: 20px 0 24px;
    display: flex; }
    @media screen and (min-width: 769px) {
      .product .product__image {
        width: 737px;
        height: 726px;
        order: 0; } }
    .product .product__image .product__image__slider {
      width: 100%; }
      .product .product__image .product__image__slider .slick-slider .slick-arrow {
        display: none !important; }
      .product .product__image .product__image__slider .slick-dots {
        bottom: 10px; }
        .product .product__image .product__image__slider .slick-dots li button::before {
          color: #444444; }
    .product .product__image .product__image__container {
      display: flex; }
      .product .product__image .product__image__container .product__image__carousel .product__image__thumb {
        width: 74px;
        height: 82px;
        cursor: pointer;
        margin-bottom: 10px; }
      .product .product__image .product__image__container .product__image__preview {
        width: 652px;
        margin-left: 10px; }
  .product .product__selection__container {
    order: 2; }
    @media screen and (min-width: 769px) {
      .product .product__selection__container .product__selection {
        width: 370px;
        order: 2; } }
    .product .product__selection__container .product__selection .product__color .product__color__title {
      height: 20px;
      font-size: 13px;
      line-height: 1.54;
      letter-spacing: 1.5px;
      color: #222222;
      margin: 0 0 15px 12px; }
      @media screen and (min-width: 376px) {
        .product .product__selection__container .product__selection .product__color .product__color__title {
          margin: 0 0 15px 30px; } }
    .product .product__selection__container .product__selection .product__color .product__color__picker {
      display: inline-flex; }
      @media screen and (min-width: 376px) {
        .product .product__selection__container .product__selection .product__color .product__color__picker {
          margin-left: 18px; } }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot {
        cursor: pointer;
        width: 29.4px;
        height: 30px;
        background-color: #bbb;
        border-radius: 50%;
        margin: 0 13.5px 0 12px; }
        .product .product__selection__container .product__selection .product__color .product__color__picker .active.product__color__picker__dot {
          border: solid 3px #c9c9c9; }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot.naked-1 {
        background-color: #ffefe5; }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot.naked-2 {
        background-color: #dab5a1; }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot.naked-3 {
        background-color: #d49d89; }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot.naked-4 {
        background-color: #6a3a33; }
      .product .product__selection__container .product__selection .product__color .product__color__picker .product__color__picker__dot.naked-5 {
        background-color: #524346; }
    .product .product__selection__container .product__stock .product__stock__title {
      height: 18px;
      font-size: 13px;
      letter-spacing: 1.5px;
      color: #222222;
      margin: 25px 0 15px 12px; }
      @media screen and (min-width: 376px) {
        .product .product__selection__container .product__stock .product__stock__title {
          margin: 25px 0 15px 30px; } }
    .product .product__selection__container .product__size {
      display: inline-flex; }
      @media screen and (min-width: 376px) {
        .product .product__selection__container .product__size {
          margin-left: 18px; } }
      .product .product__selection__container .product__size .product__size__select {
        margin-left: 12px;
        width: 169px; }
        @media screen and (min-width: 769px) {
          .product .product__selection__container .product__size .product__size__select {
            width: 178px; } }
        .product .product__selection__container .product__size .product__size__select .product__size__select__title {
          height: 18px;
          margin-bottom: 8px;
          font-size: 13px;
          letter-spacing: 1.5px;
          color: #222222; }
        .product .product__selection__container .product__size .product__size__select select {
          cursor: pointer;
          width: 100%;
          height: 44px;
          padding: 14px 22.5px 13px 14.3px;
          font-size: 12px;
          color: #444444;
          border: 1px solid #ccc;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background: url("file://../../svg/chevron-down-solid.svg") 90%/6% no-repeat #fff; }
        .product .product__selection__container .product__size .product__size__select select::-ms-expand {
          display: none;
          /* remove default arrow on ie10 and ie11 */ }
    .product .product__selection__container .product__add {
      display: block;
      margin: 19px 12px 0 12px; }
      @media screen and (min-width: 376px) {
        .product .product__selection__container .product__add {
          margin: 34px 30px 0px 30px; } }
      @media screen and (min-width: 769px) {
        .product .product__selection__container .product__add {
          margin: 15px 0px 0px 30px;
          width: 370px; } }
      .product .product__selection__container .product__add .product__add_button {
        cursor: pointer;
        width: 100%;
        border: none;
        height: 50px;
        background-color: #444444;
        color: white;
        font-size: 14px;
        letter-spacing: 1.5px;
        text-align: center; }
  .product .product__detail {
    order: 4; }
    @media screen and (min-width: 769px) {
      .product .product__detail {
        width: 737px; } }
    .product .product__detail .product__detail__title {
      height: 18px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1.5px;
      color: #222222;
      margin: 25px 0 13px 12.6px; }
      @media screen and (min-width: 376px) {
        .product .product__detail .product__detail__title {
          margin: 39px 0 0 30px; } }
    .product .product__detail .product__detail__separator {
      height: 3px;
      border: none;
      background-color: #f7f7f7;
      margin: 0 15px 35px 13px; }
      @media screen and (min-width: 376px) {
        .product .product__detail .product__detail__separator {
          margin: 13px 30px 0 30px; } }
    .product .product__detail p {
      color: #444444;
      margin: 0 12px 10px 16px; }
      @media screen and (min-width: 376px) {
        .product .product__detail p {
          margin: 35px 30px 0 30px; } }
    .product .product__detail ul {
      color: #444444; }
      @media screen and (min-width: 376px) {
        .product .product__detail ul {
          margin: 0 30px 0 10px; } }
